@media (max-width: 900px){
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    justify-content: center;
  }

  footer p {
    
    color: #161616;
  }
}